/* Home menu page */

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#page
{
  background: #FFFFFF;
}

#header
{
background-color: #0198E1;
position: relative;
padding-bottom: 2%;
}

#headerTitle
{
position:relative;
padding:3% 3% 0px 3%;
color:#FFFFFF;
font-size:30px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
}

#headerSubText
{
position:relative;
padding: 3%;
color:#DEE6F8;
font-size:25px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
}


.bar
{
position:relative;
padding: 3%;
background-color:#D9D9D9;
border-style: solid;
border-top-color: transparent;
border-left-color: transparent;
border-right-color: transparent;  
border-bottom-color: #BEBEBE;
}

.bar .navLink
{
  color:#FFFFFF;
  font-size: 20px;
}

.bar .navLink a
{
color:#FFFFFF;
}

.bar .navLink a:hover
{
color:#E4EBFA;
}


.contentTitle
{
margin: 3%;
}

.contentTitle h1
{
font-size:17px;
font-weight:bold;
color:#071027;
}


.contentText
{
padding-left:3%;
padding-right:3%;
font-size:13px;
color:#030712;
line-height:30px;
}

a
{
text-decoration:none;
color:#223F8D;
}

a:hover
{
color:#5478D6;
}


#footer {
height:49px;
text-align:center;
font-size:9px;
color:#223F8D;
padding-top:36px;
}

html, body {
text-align: center;
}
p {text-align: left;}
